body,html {
  height: 100%;
}

/*
.chat-container {
  padding: 0px;
  margin-left: 15%;
  margin-right: 15%;
}
*/

.chat-message {
  border-radius: 3px;
  margin-bottom: 2px;
}

.bot-message {
  background: #3498DB;
  color: white;
}

.human-message {
  background: #1ABC9C;
  color: white;
}
